main > .left{
    width: 40%;

    background: none;
    box-shadow: none;
    padding: 0;
}

main > .right{
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.item-carrinho{
    width: 100%;

    display: flex;
    padding: 16px 12px;
    justify-content: space-between;
    align-items: center;

    border-radius: 12px;
    background: var(--white);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.item-carrinho .left{
    display: flex;
    align-items: center;
    gap: 4px;
}

.item-carrinho .left img{
    width: 100%;
    height: 64px;
    object-fit: contain;
}

.item-carrinho .left p.titulo{
    font-size: 16px;
    font-weight: 700;
}

.item-carrinho .right{
    display: flex;
    align-items: center;
    gap: 24px;

}

.item-carrinho .right .results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

.item-carrinho .right .results .quantidade{
    color: var(--orange);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.item-carrinho .right .results .quantidade{
    color: var(--orange);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.item-carrinho .right .results .total{
    color: #1F1F1F;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}


#excluirDoCarrinho{
    padding: 0;
}

#excluirDoCarrinho a{
    font-size: 32px;
    cursor: pointer;
}

#excluirDoCarrinho a ion-icon{
    color: var(--red);
}

button{
    padding: 4px 0;
    gap: 4px;
}

button span{
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-size: 28px;
    font-weight: 600;
}